@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-midnight: #0f172a;
  --color-skyblue: #0ea5e9;
  --color-ice: #e0f2fe;
  --color-slate: #334155;

  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-midnight);
  color: white;
}
